{% extends "admin/kmuhelper/base_site.html" %}
{% load static %}

{% block title %}Aktion bestätigen | KMUHelper{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs" class="breadcrumbs">
    <a href="{% url 'admin:app_list' app_label='kmuhelper' %}">KMUHelper Admin</a>
    &rsaquo; <a href="{% url 'admin:kmuhelper_paymentimport_changelist' %}">Zahlungsimporte</a>
    &rsaquo; <a href="{% url 'admin:kmuhelper_paymentimport_change' object_id=original.pk %}">{{ original }}</a>
    &rsaquo; Verarbeiten
</div>
{% endblock %}

{% block content_title %}
<h1>Zahlungsimport - Verarbeitung</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    .entry td:nth-child(2n-1) {
        width: 15%;
    }

    .entry td:nth-child(2n) {
        width: 35%;
    }

    details {
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    details>summary {
        padding: 8px;
    }

    details[open]>summary {
        border-bottom: 1px solid gray;
    }

    details>div {
        padding: 10px;
    }

    a.markpaid {
        margin: 2px;
        padding: 4px;
        float: right;
    }

    a.markpaid.success {
        background-color: var(--message-success-bg);
        pointer-events: none;
    }

    th {
        vertical-align: bottom;
    }

    table:not(:last-child),
    details:not(:last-child) {
        margin-bottom: 10px;
    }

    .relatedorders {
        display: grid;
    }

    th a {
        color: var(--link-fg) !important;
    }

    th a:hover {
        color: var(--link-hover-color) !important;
    }
</style>
{% endblock %}

{% block content %}

<h3>Nützliche Links</h3>

<ul>
    <li>
        <a target="_blank" href="{% url 'admin:kmuhelper_bestellung_changelist' %}?bezahlt__exact=0&versendet__exact=1">
            Noch nicht bezahlte, versendete Bestellungen
        </a>
    </li>
    <li>
        <a target="_blank" href="{% url 'admin:kmuhelper_bestellung_changelist' %}?bezahlt__exact=0&versendet__exact=0">
            Noch nicht bezahlte, unversendete Bestellungen
        </a>
    </li>
    <li>
        <a target="_blank" href="{% url 'admin:kmuhelper_bestellung_changelist' %}?bezahlt__exact">
            Alle noch nicht bezahlten Bestellungen
        </a>
    </li>
</ul>

<h3>Einträge</h3>

<br>

<div class="entries-container">
    {% if data.unknown %}
    <details>
        <summary>Unbekannte Zahlungen ({{ data.unknown|length }})</summary>
        <div class="entrylist">
            {% for entry in data.unknown %}
            {% include 'admin/kmuhelper/paymentimport/process_entry.html' with entry=entry %}
            {% endfor %}
        </div>
    </details>
    {% endif %}
    {% if data.notfound %}
    <details>
        <summary>Zahlungen mit unbekannten Bestellungen ({{ data.notfound|length }})</summary>
        <div class="entrylist">
            {% for entry in data.notfound %}
            {% include 'admin/kmuhelper/paymentimport/process_entry.html' with entry=entry %}
            {% endfor %}
        </div>
    </details>
    {% endif %}
    {% if data.ready %}
    <details open>
        <summary>Korrekte Zahlungen ({{ data.ready|length }})</summary>
        <div class="entrylist">
            {% for entry in data.ready %}
            {% include 'admin/kmuhelper/paymentimport/process_entry.html' with entry=entry %}
            {% endfor %}
        </div>
    </details>
    {% endif %}
    {% if data.alreadypaid %}
    <details open>
        <summary>Zahlungen mit bereits als bezahlt markierten Bestellungen ({{ data.alreadypaid|length }})</summary>
        <div class="entrylist">
            {% for entry in data.alreadypaid %}
            {% include 'admin/kmuhelper/paymentimport/process_entry.html' with entry=entry %}
            {% endfor %}
        </div>
    </details>
    {% endif %}
    {% if data.unclear %}
    <details open>
        <summary>Unklare Zahlungen ({{ data.unclear|length }})</summary>
        <div class="entrylist">
            {% for entry in data.unclear %}
            {% include 'admin/kmuhelper/paymentimport/process_entry.html' with entry=entry %}
            {% endfor %}
        </div>
    </details>
    {% endif %}
</div>

<br>

<form method="POST">
    {% csrf_token %}
    <p>Um die Verarbeitung abzuschliessen, bitte hier klicken:</p>
    <input type="submit" value="Als verarbeitet markieren" class="{{ buttonclass }}" />
</form>

<script src="{% static '/admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static '/admin/js/jquery.init.js' %}"></script>
<script type="text/javascript">
    $ = window.django.jQuery

    $('a.markpaid').click(event => {
        let url = event.target.getAttribute('url');
        event.target.setAttribute('disabled', 'true')
        $.post(
            url = url,
            success = (data, status) => {
                console.log("Request success: Data: ", data, "\nStatus: ", status);
                event.target.classList.add('success');
                event.target.removeAttribute('disabled');
                $(event.target).off("click");
            },
        ).fail(response => {
            console.log("Request failed: Response: ", response);
            event.target.removeAttribute('disabled');
        });
    });
</script>
{% endblock %}