<table class="entry">
    <thead class="entryheader">
        <tr>
            <th colspan="4">
                {% if entry.id %}ID #{{ entry.id }} - {% endif %}Ref {{ entry.payment.ref }}
            </th>
        </tr>
        <tr>
            <th colspan="2">Zahlung</th>
            {% if entry.order %}
            <th>Bestellung 
                <a target="_blank" href="{% url 'admin:kmuhelper_bestellung_change' object_id=entry.order.pk %}">
                    #{{ entry.order.pk}}
                </a>
            </th>
            <th>
                {% if not entry.order.bezahlt %}
                <a class="button markpaid" url="{% url 'kmuhelper:api-orders-set-paid' entry.order.pk %}">
                    Bezahlt
                </a>
                {% endif %}
            </th>
            {% else %}
            <th colspan="2"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Betrag:</td>
            <td>{{ entry.payment.amount }} {{ entry.payment.currency }}</td>
            {% if entry.order %}
            <td>Betrag:</td>
            <td>{{ entry.order.fix_summe }} CHF</td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        <tr>
            <td>IBAN:</td>
            <td>{{ entry.payment.iban }}</td>
            {% if entry.order %}
            <td>Rechnungsdatum:</td>
            <td>{{ entry.order.rechnungsdatum }}</td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{ entry.payment.name }}</td>
            {% if entry.order %}
            <td>Name:</td>
            <td>{{ entry.order.rechnungsadresse_vorname }} {{ entry.order.rechnungsadresse_nachname }} 
                {{ entry.order.rechnungsadresse_firma }}</td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
    </tbody>
</table>

{% if entry.relatedorders %}
<details>
    <summary>
        Andere unbezahlte Bestellungen von
        <a target="_blank"
            href="{% url 'admin:kmuhelper_kunde_change' object_id=entry.order.kunde.pk %}#bestellungen-group">
            {{ entry.order.kunde }}
        </a> ({{ entry.relatedorders|length }})
    </summary>
    <div class="relatedorders">
        {% for order in entry.relatedorders %}
        <table>
            <thead>
                <tr>
                    <th>Bestellung <a target="_blank"
                            href="{% url 'admin:kmuhelper_bestellung_change' object_id=order.pk %}">#{{ order.pk }}</a>
                    </th>
                    <th>
                        {% if not order.bezahlt %}
                        <a class="button markpaid" url="{% url 'kmuhelper:api-orders-set-paid' order.pk %}">
                            Bezahlt
                        </a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Betrag:</td>
                    <td>{{ entry.order.fix_summe }} CHF</td>
                </tr>
                <tr>
                    <td>Rechnungsdatum:</td>
                    <td>{{ entry.order.rechnungsdatum }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</details>
{% endif %}