{% extends 'admin/kmuhelper/change_form.html' %}

{% block object-tools-items %}
    {% if change %}
        <li class="dropdown">
            <a href="#">PDF Generieren</a>
            <div>
                <b>PDF generieren</b>
                <hr>
                <a href="{% url 'admin:kmuhelper_bestellung_pdf' object_id %}" target="_blank" rel="noopener">Rechnung (digital)</a>
                <a href="{% url 'admin:kmuhelper_bestellung_pdf' object_id %}?druck" target="_blank" rel="noopener">Rechnung (druck)</a>
                <a href="{% url 'admin:kmuhelper_bestellung_pdf' object_id %}?lieferschein" target="_blank" rel="noopener">Lieferschein</a>
            </div>
        </li>

        {% if perms.kmuhelper.view_email or perms.kmuhelper.add_email %}
            {% load kmuhelper_tags %}
            {% kmuhelper_email_show_buttons as show_email_buttons %}
            {% if show_email_buttons %}

                <li class="dropdown">
                    <a href="#">E-Mails</a>
                    <div>
                        <b>E-Mails</b>
                        <hr>

                        {% if perms.kmuhelper.view_emailtemplate and perms.kmuhelper.add_email %}
                            <abbr title="Speichere die Daten dieser Bestellung im Zwischenspeicher und gehe zu E-Mail-Vorlagen">
                                <a href="{% url 'admin:kmuhelper_emailtemplate_savevars' %}?{{ original.to_query_string }}">Zu E-Mail-Vorlage</a>
                            </abbr>
                            <hr>
                        {% endif %}
                        {% if original.rechnungsadresse_email %}
                            {% if original.email_rechnung and perms.kmuhelper.view_email %}
                                <a href="{% url 'admin:kmuhelper_email_change' original.email_rechnung.pk %}">Rechnungsemail ansehen</a>
                            {% endif %}
                            {% if perms.kmuhelper.add_email and perms.kmuhelper.change_bestellung %}
                                <a href="{% url 'admin:kmuhelper_bestellung_email_rechnung' object_id %}">Rechnungsemail generieren</a>
                            {% endif %}
                        {% else %}
                            <a href="#" class="disabled">Rechnungsemail</a>
                        {% endif %}
                        <hr>
                        {% if original.lieferadresse_email and original.versendet %}
                            {% if original.email_lieferung and perms.kmuhelper.view_email %}
                                <a href="{% url 'admin:kmuhelper_email_change' original.email_lieferung.pk %}">Lieferungsemail ansehen</a>
                            {% endif %}
                            {% if perms.kmuhelper.add_email and perms.kmuhelper.change_bestellung %}
                                <a href="{% url 'admin:kmuhelper_bestellung_email_lieferung' object_id %}">Lieferungsemail generieren</a>
                            {% endif %}
                        {% else %}
                            <a href="#" class="disabled">Lieferungsemail</a>
                        {% endif %}
                    </div>
                </li>

            {% endif %}
        {% endif %}

        {% if perms.kmuhelper.change_bestellung and original.woocommerceid %}
            <li>
                <abbr title="Achtung: Hier abgeänderte Werte werden überschrieben, sofern diese in WooCommerce gespeichert werden können!">
                    <a href="{% url 'kmuhelper:wc-update-order' object_id %}">Von WooCommerce importieren und ersetzen</a>
                </abbr>
            </li>
        {% endif %}

        {% if perms.kmuhelper.add_lieferung and original.versendet %}
            <li>
                <attr title="Die Produkte dieser Bestellung zu einer Lieferung kopieren">
                    <a href="{% url 'admin:kmuhelper_bestellung_zu_lieferung' object_id %}" rel="noopener">Rücksendung</a>
                </attr>
            </li>
        {% endif %}
        
        {% if original.trackingnummer %}
            <li><a target="_blank" href="{{ original.trackinglink }}" rel="noopener">Tracking</a></li>
        {% endif %}

        {% if not original.versendet %}
            <li><a href="#id_lieferadresse_vorname" onclick="copyform();">Rechnungsadresse -> Lieferadresse</a></li>
            <script>
                function copyform(){
                    document.getElementById("id_lieferadresse_vorname").value = document.getElementById("id_rechnungsadresse_vorname").value;
                    document.getElementById("id_lieferadresse_nachname").value = document.getElementById("id_rechnungsadresse_nachname").value;
                    document.getElementById("id_lieferadresse_firma").value = document.getElementById("id_rechnungsadresse_firma").value;
                    document.getElementById("id_lieferadresse_adresszeile1").value = document.getElementById("id_rechnungsadresse_adresszeile1").value;
                    document.getElementById("id_lieferadresse_adresszeile2").value = document.getElementById("id_rechnungsadresse_adresszeile2").value;
                    document.getElementById("id_lieferadresse_ort").value = document.getElementById("id_rechnungsadresse_ort").value;
                    document.getElementById("id_lieferadresse_kanton").value = document.getElementById("id_rechnungsadresse_kanton").value;
                    document.getElementById("id_lieferadresse_plz").value = document.getElementById("id_rechnungsadresse_plz").value;
                    document.getElementById("id_lieferadresse_land").value = document.getElementById("id_rechnungsadresse_land").value;
                    document.getElementById("id_lieferadresse_email").value = document.getElementById("id_rechnungsadresse_email").value;
                    document.getElementById("id_lieferadresse_telefon").value = document.getElementById("id_rechnungsadresse_telefon").value;
                }
            </script>
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
