{% extends 'admin/kmuhelper/change_list.html' %}

{% block object-tools-items %}
    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function laden() {
            swal({
                title: "Bitte warten...",
                text: "Dieser Prozess kann unter Umständen etwas dauern.\n\nBitte versuche nicht, diesen Prozess abzubrechen!\n\nFalls du eine Fehlermeldung erhältst, lade bitte die Seite neu!\n\n(Dies könnte je nach Menge auch mehrmals der Fall sein.)",
                icon: "info",
                buttons: false,
                closeOnClickOutside: false,
                closeOnEsc: false
            });
        };
    </script>

    {% load kmuhelper_tags %}
    {% kmuhelper_woocommerce_connected as woocommerce_is_connected %}
    {% if woocommerce_is_connected and perms.kmuhelper.add_bestellung %}
        <li>
            <a onclick="laden();" href="{% url 'kmuhelper:wc-import-orders' %}" class="addlink">Bestellungen von WooCommerce importieren</a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <table>
        <thead>
            <tr>
                <th colspan="2">Unbezahlte Bestellungen</th>
            </tr>
        </thead>
        <tbody id="unpaid">
            <tr><td colspan="2">Wird geladen...</td></tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>

    <script>
        const elem = document.getElementById("unpaid");

        try {
            fetch("{% url 'kmuhelper:api-orders-unpaid' %}").then(res => {
                res.json().then(json => {
                    data = json.orders_unpaid_sum;
                    elem.innerHTML = `
                        <tr>
                            <td>Versendet: </td><td style="text-align: right;">${data.sent} CHF</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 2em;">In Bearbeitung: </td><td style="text-align: right;">${data.unsent} CHF</td>
                        </tr>
                        <tr>
                            <td>Gesamt: </td><td style="text-align: right;">${data.all} CHF</td>
                        </tr>
                    `;
                });
            });
        } catch (e) {
            unpaid.firstChild().innerHTML = "<tr><td colspan='2'>Konnte nicht geladen werden!</td></tr>"
        }
    </script>

    {{ block.super }}

{% endblock %}