{% extends 'admin/kmuhelper/change_form.html' %}

{% block object-tools-items %}
    {% if object_id %}
        {% if original.woocommerceid %}
            <li><a href="{% url 'kmuhelper:wc-update-order' object_id %}">Von WooCommerce importieren und ersetzen</a></li>
        {% endif %}
        <li><a href="{% url 'kmuhelper:bestellung-rechnung-ansehen' object_id %}" target="_blank">Rechnung ansehen</a></li>
        {% if original.versendet %}{% if original.rechnungsadresse_email %}{% if not original.rechnung_gesendet %}
            <li><a href="{% url 'kmuhelper:bestellung-rechnung-an-kunden-senden' object_id %}">Rechnung an Kunden senden</a></li>
        {% endif %}{% endif %}{% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
