{% extends 'kmuhelper/emails/base.html' %}

{% block subtitle %}Registrierung erfolgreich{% endblock %}

{% block maincontent %}

    {% if not text %}
        <p>Sehr geehrter Kunde</p>
        <p>Sie wurden erfolgreich in unserer Datenbank mit folgenden Daten registriert:</p>
    {% else %}
        {{ text|urlize|linebreaks }}
    {% endif %}

    <ul>
        <li>Kundennummer: {{ kunde.id }}</li>
        <li>Vorname: {{ kunde.vorname }}</li>
        <li>Nachname: {{ kunde.nachname }}</li>
        <li>Firma: {{ kunde.firma }}</li>
        <li>E-Mail: {{ kunde.email }}</li>
    </ul>

    <p>
        Zusätzlich dazu werden von uns auch Rechnungsadresse, Lieferadresse sowie vergangene Bestellungen gespeichert. 
    </p>
    <p>
        Bei Fragen oder Problemen können Sie uns jederzeit kontaktieren.
    </p>

{% endblock %}