include LICENSE
include README.rst
recursive-include kmuhelper/static *
recursive-include kmuhelper/templates *
recursive-include kmuhelper/management *
recursive-include kmuhelper/pdf_generators *
recursive-include docs *
