include LICENSE
include README.md
recursive-include kmuhelper/locale *
recursive-include kmuhelper/static *
recursive-include kmuhelper/templates *
recursive-include kmuhelper/management *
recursive-include kmuhelper/migrations *
recursive-include kmuhelper/pdf_generators *
recursive-include docs *
