{% extends "kmuhelper/stats/base.html" %}

{% block content %}

    <!-- https://www.chartjs.org/docs/latest/getting-started/ -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha512-60KwWtZOhzgr840mc57MV8JqDZHAws3w61mhK45KsYHmhyNFJKmfg4M7/s2Jsn4PgtQ4Uhr9xItS+HCbGTIRYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const ctx = document.getElementById('myChart').getContext('2d');

            const product_names = {{ product_names | safe }};
            const product_counts = {{ product_counts | safe }};

            const chart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    datasets: [
                        {
                            label: 'Verkaufte Produkte',
                            data: product_counts,
                            backgroundColor: 'rgba(221,17,85,1)',
                        },
                    ],
                    labels: product_names,
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [
                            {
                                position: 'top',
                                ticks: {
                                    beginAtZero: true,
                                },
                            },
                        ],
                    },
                },
            });
        });
    </script>
        
    <div style="position: relative; width: 100%;">
        <canvas id="myChart"></canvas>
    </div>

{% endblock %}
