body {
    background-color: white;
}

*[data-tooltip]:hover:after {
    border: 1px solid #999999;
    padding: 3px 6px;
    background: #000000;
    color: #ffffff;
    content: attr(data-tooltip);
    position: relative;
}

a[data-tooltip]:after {
    content: attr(href);
    display: none;
}

a[data-tooltip]:hover:after {
    display: inline-block;
}