{% comment %} This is representing a form row in a form {% endcomment %}

<div class="form-row field-{{ field.name }}">
    <div class="flex-container{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.is_checkbox %} checkbox-row{% endif %}">
        {{ field.label_tag }}
        {% if field.help_text %}
            <div class="help{% if field.is_hidden %} hidden{% endif %}"{% if field.id_for_label %} id="{{ field.id_for_label }}_helptext"{% endif %}>
                <div>{{ field.help_text|safe }}</div>
            </div>
        {% endif %}
        {{ field }}
    </div>
</div>