{% extends 'admin/kmuhelper/change_list.html' %}

{% block pageinfo %}
    <p id="pageinfo">
        <b>Verwandte Seiten:</b> <a href="{% url 'admin:kmuhelper_app_stock_changelist' %}">App: Lagerbestand</a>,
        <a href="{% url 'admin:kmuhelper_productcategory_changelist' %}">Admin: Produktkategorien</a>
    </p>
{% endblock %}

{% block object-tools-items %}
    {% load kmuhelper_tags %}
    {% kmuhelper_woocommerce_connected as woocommerce_is_connected %}
    {% if woocommerce_is_connected and perms.kmuhelper.add_product %}
        <li>
            <a onclick="woocommerce_loading_swal();" href="{% url 'kmuhelper:wc-import-products' %}" class="addlink">Produkte von
                WooCommerce importieren</a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}