{% extends "admin/base_site.html" %}

{% load static kmuhelper_tags %}

{% block title %}{{ title }} | KMUHelper{% endblock %}

{% block branding %}
    {% kmuhelper_branding %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/kmuhelper/css/style.css' %}">
    {% include "admin/kmuhelper/_includes/fontawesome.html" %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% include "kmuhelper/_includes/pwa_head.html" %}
{% endblock %}
