---
---

@import "{{ site.theme }}";

:root {
  --kmuhelper-darkest: #880044;
  --kmuhelper-dark: #AA1155;
  --kmuhelper-default: #DD1155;
  --kmuhelper-light: #F6C400;
  --kmuhelper-lightest: #FFEE88;
}

.page-header {
    background-color: var(--kmuhelper-darkest);
    background-image: linear-gradient(120deg, var(--kmuhelper-darkest), var(--kmuhelper-light));
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: var(--kmuhelper-default);
}

a {
    color: var(--kmuhelper-dark);
}
