<!DOCTYPE html>
<html lang="de">

    <head>
        <title>KMUHelper App</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {% load static %}
        <link rel="manifest" href="{% url 'kmuhelper:app-manifest' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'kmuhelper/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'kmuhelper/favicon.ico' %}">

        <link rel="stylesheet" type="text/css" href="{% static "kmuhelper/app/css/main.css" %}">

        <script src="https://kit.fontawesome.com/67ab7aa4a7.js" crossorigin="anonymous"></script>
        <script src="{% static 'kmuhelper/app/js/main.js' %}"></script>
        
        <style>
            #body {
                background-image: url("{% static 'kmuhelper/images/loading.gif' %}");
            }
        </style>
    </head>

    <body>
        <div id="body">
            <iframe id="frame" name="frame" src="about:blank" seamless="seamless" onerror="window.location.hash='{% url 'kmuhelper:app-error' %}';" onload="checkFrame(this);"></iframe>
        </div>

        <div class="appbar">
            <a href="#error" id="error" url="{% url 'kmuhelper:app-error' %}" class="item hidden">
                <i class="fas fa-exclamation-triangle"></i>
            </a>
            {% if perms.kmuhelper %}
            <a href="#home" id="home" url="{% url 'kmuhelper:app-home' %}" class="item">
                <i class="fas fa-home"></i>
            </a>
            {% endif %}
            {% if perms.kmuhelper.view_todonotiz %}
            <a href="#notiz" id="notiz" url="{% url 'admin:kmuhelper_todonotiz_changelist' %}" class="item">
                <i class="fas fa-clipboard-list"></i>
            </a>
            {% endif %}
            {% if perms.kmuhelper.view_todoversand %}
            <a href="#versand" id="versand" url="{% url 'admin:kmuhelper_todoversand_changelist' %}" class="item">
                <i class="fas fa-shipping-fast"></i>
            </a>
            {% endif %}
            {% if perms.kmuhelper.view_todozahlungseingang %}
            <a href="#zahlung" id="zahlung" url="{% url 'admin:kmuhelper_todozahlungseingang_changelist' %}" class="item">
                <i class="fas fa-hand-holding-usd"></i>
            </a>
            {% endif %}
            {% if perms.kmuhelper.view_todolagerbestand %}
            <a href="#lagerbestand" id="lagerbestand" url="{% url 'admin:kmuhelper_todolagerbestand_changelist' %}" class="item">
                <i class="fas fa-warehouse"></i>
            </a>
            {% endif %}
            {% if perms.kmuhelper.view_todolieferung %}
            <a href="#lieferung" id="lieferung" url="{% url 'admin:kmuhelper_todolieferung_changelist' %}" class="item">
                <i class="fas fa-truck-loading"></i>
            </a>
            {% endif %}
            <a href="{% url 'admin:app_list' app_label='kmuhelper' %}" target="_blank" id="admin" class="item">
                <i class="fas fa-key"></i>
            </a>
        </div>

    </body>

</html>
