<!DOCTYPE html>
<html lang="de">

    <head>
        <title>
            App | KMUHelper
        </title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "kmuhelper/app/css/base.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "kmuhelper/app/css/main.css" %}">
    </head>

    <body>
        <div id="body">
            <iframe id="frame" name="frame" src="" seamless="seamless" width="100%" height="100%" style="border: none;">Hi</iframe>
        </div>

        <div class="appbar">
            <a href="#home" id="home" url="{% url 'kmuhelper:app-home' %}" class="item">
                <i class="fas fa-home"></i>
            </a>
            <a href="#notiz" id="notiz" url="{% url 'admin:kmuhelper_todonotiz_changelist' %}" class="item">
                <i class="fas fa-sticky-note"></i>
            </a>
            <a href="#versand" id="versand" url="{% url 'admin:kmuhelper_todoversand_changelist' %}" class="item">
                <i class="fas fa-box-open"></i>
            </a>
            <a href="#zahlung" id="zahlung" url="{% url 'admin:kmuhelper_todozahlungseingang_changelist' %}" class="item">
                <i class="fas fa-hand-holding-usd"></i>
            </a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://kit.fontawesome.com/67ab7aa4a7.js" crossorigin="anonymous"></script>
        <script src="{% static 'kmuhelper/app/js/main.js' %}"></script>

        {% if alert %}
            <script>
                window.addEventListener("load", () => {
                    toast({{% for k, v in alert.items %}
                            {{ k }}: "{{ v }}",
                        {% endfor %}});
                })
            </script>
        {% endif %}

    </body>

</html>
