{% extends "admin/base.html" %}

{% load static %}

{% block title %}Info | KMUHelper{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'kmuhelper:home' %}">KMUHelper</a> | Info</h1>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/kmuhelper/css/style.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'kmuhelper/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'kmuhelper/favicon.ico' %}">

    <meta name="robots" value="noindex">
{% endblock %}

{% block content %}
    <h1>Informationen</h1>
    <p>Vermutlich bist du auf dieser Seite aufgrund eines ungültigen Links gelandet. Bitte kontaktiere diejenige Person, welche dir diesen Link gesendet hat.</p>
    <br>
    <p>Diese Seite wurde mit der Open Source Software <a href="https://rafaelurben.github.io/kmuhelper">KMUHelper</a> erstellt.
{% endblock %}