{% extends 'admin/kmuhelper/change_list.html' %}

{% load i18n admin_urls static kmuhelper_tags %}

{% block breadcrumbs %}
    {% get_admin_model as model %}

    <div class="breadcrumbs">
        <a href="{% url 'kmuhelper:app-index' %}">KMUHelper App</a>
        &rsaquo; {{ model.admin_title }}
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {% comment %} Load the changelist save on top script {% endcomment %}
    <script src="{% static 'admin/kmuhelper/js/changelist_saveontop.js' %}"></script>
{% endblock %}
