{% extends 'admin/kmuhelper/change_form.html' %}

{% load i18n admin_urls kmuhelper_tags %}

{% block breadcrumbs %}
    {% get_admin_model as model %}

    <div class="breadcrumbs">
        <a href="{% url 'kmuhelper:app-index' %}">KMUHelper App</a>
        &rsaquo; {% if has_view_permission %}
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ model.admin_title }}</a>{% else %}
        {{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo;
        {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}
            {{ original|truncatewords:"18" }}{% endif %}
    </div>
{% endblock %}
