{% extends "admin/base.html" %}

{% block extrahead %}
    <script>
        if (window.hasOwnProperty("django")) {
            window.addEventListener("load", function () {
                var isSubmitting = false;
                var $ = django.jQuery;

                $(document).ready(function () {
                    $('form').submit(function (event) {
                        if (!(event.target.id === "changelist-search")) {
                            isSubmitting = true;
                        } else {
                            console.log("Search submitted...");
                        }
                    })

                    $('form').data('initial-state', $('form').serialize());

                    $(window).on('beforeunload', function () {
                        if (!isSubmitting && $('form').serialize() != $('form').data('initial-state')) {
                            return 'Du hast ungesicherte Änderungen vorgenommen. Wenn du die Seite verlässt, werden diese gelöscht.'
                        }
                    });
                })
            })
        }
    </script>
    {{ block.super }}
{% endblock %}
