name: Check python code

on:
  push:
    paths:
      - kmuhelper/**
      - kmuhelper_tests/**
      - pyproject.toml
      - runtests.py
      - requirements.txt
      - requirements-dev.txt

jobs:
  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12", "3.14" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt -r requirements-dev.txt
      - name: Check code formatting with black
        run: |
          python -m black --check .
